<template>
  <div>
    <!-- ======= Header ======= -->
    <Header />
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero">
      <div class="hero-container " data-aos="fade-up">
        <h1>ASESORÍAS Y TERAPIAS PSICOLÓGICAS ESPECIALIZADAS: BEA</h1>
        <h2>
          “LA IMAGINACIÓN ES LA MITAD DE LA ENFERMEDAD; LA TRANQUILIDAD ES LA
          MITAD DEL REMEDIO; Y LA PACIENCIA ES EL COMIENZO DE LA CURA”
        </h2>
        <h2 class="text-right">
          -IBN SINA
        </h2>
        <a href="#about" class="btn-get-started scrollto"
          ><i class="bx bx-chevrons-down"></i
        ></a>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= About Section ======= -->
      <About />
      <!-- End About Section -->

      <!-- ======= Services Section ======= -->
      <Services />
      <!-- End Services Section -->

      <!-- ======= Counts Section ======= -->
      <section id="counts" class="counts  section-bg">
        <div class="container">
          <div class="row no-gutters">
            <div class="col-md-4 col-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="icofont-simple-smile"></i>
                <countTo
                  :startVal="startVal"
                  :endVal="endVal"
                  :duration="15000"
                ></countTo>
                <p><strong>Personas Atendidas</strong></p>
              </div>
            </div>
            <div class="col-md-4 col-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="icofont-users-alt-5"></i>
                <countTo
                  :startVal="startVal"
                  :endVal="endVal2"
                  :duration="15000"
                ></countTo>
                <p><strong>Familias en terapia </strong></p>
              </div>
            </div>
            <div class="col-md-4 col-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="icofont-people"></i>
                <countTo
                  :startVal="startVal"
                  :endVal="endVal3"
                  :duration="15000"
                ></countTo>
                <p><strong>Trabajadores </strong></p>
              </div>
            </div>
            <!-- <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="icofont-users-alt-5"></i>
                <countTo
                  :startVal="startVal"
                  :endVal="endVal"
                  :duration="15000"
                ></countTo>
                <p><strong>Hard Workers</strong> rerum asperiores dolor</p>
              </div>
            </div> -->
          </div>
        </div>
      </section>
      <!-- End Counts Section -->

      <!-- ======= Cta Section ======= -->
      <!-- <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">
          <div class="text-center">
            <h3>Call To Action</h3>
            <p>
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
              cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim id est laborum.
            </p>
            <a class="cta-btn" href="#">Call To Action</a>
          </div>
        </div>
      </section> -->
      <!-- End Cta Section -->

      <!-- ======= Portfolio Section ======= -->
      <!-- <Portfolio /> -->
      <!-- End Portfolio Section -->

      <!-- ======= Team Section ======= -->
      <Team />
      <!-- End Team Section -->

      <!-- ======= Testimonials Section ======= -->
      <Testimonials />
      <!-- End Testimonials Section -->

      <!-- ======= Contact Section ======= -->
      <Contact />
      <!-- End Contact Section -->
      <!-- ====== Cancelation Section ======-->
      <section id="team" class="team mb-5">
        <div class="container">
          <div class="section-title" data-aos="fade-in" data-aos-delay="100">
            <h2>Cancelaciones</h2>
            <div class="row">
              <p align="justify" class="col-12 col-md-6">
                A) Se recomienda cancelar con 24 hrs de anticipación para evitar
                cobrar la consulta completa. Ya que él espacio está asignado
                exclusivamente para usted una vez que se acordó la cita.
              </p>
              <p align="justify" class="col-12 mt-3 mt-md-0 col-md-6">
                B) En caso de que se le presente una situación médica, laboral o
                escolar dentro de las 24 horas PREVIAS al horario de su consulta
                por lo cual NO pueda asistir, PRESENTE su justificante y
                obtendrá un 50% de descuento en el cobro de ESA SESIÓN
              </p>
            </div>
          </div>
        </div>
      </section>
      <!--End Cancelation Section-->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <Footer />
    <!-- End Footer -->
    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  </div>
</template>

<script>
import Header from "../components/Header";
import Footer from "../components/Footer";
import Contact from "../components/Contact";
import Team from "../components/Team";
import About from "../components/About";
import Services from "../components/Services";
import Testimonials from "../components/Testimonials";
// import Portfolio from "../components/Portfolio";
import countTo from "vue-count-to";
// import carousel from "vue-owl-carousel";
// import isotope from "vueisotope";

export default {
  name: "Home",
  components: {
    Header,
    Footer,
    Contact,
    Team,
    Testimonials,
    About,
    Services,
    // Portfolio,
    countTo
    // isotope
  },
  data() {
    return {
      mobileView: true,
      showNav: false,
      startVal: 0,
      endVal: 50,
      endVal2: 10,
      endVal3: 5
    };
  },

  created() {
    this.handleView();
  },

  methods: {
    handleView() {
      this.mobileView = window.innerWidth <= 990;
    }
  }
};
</script>
