<template>
  <section id="about" class="about">
    <div class="container">
      <div class="row no-gutters">
        <div
          class="content col-xl-12 d-flex align-items-stretch"
          data-aos="fade-up"
        >
          <div class="content">
            <div class="row">
              <div class="col-12 col-md-6">
                <h4 class="font-weight-bold">¿Cómo funciona la Terapia?</h4>
                <p align="justify">
                  La terapia psicológica es un diálogo entre cliente y
                  terapeuta, donde el cliente plantea sus inquietudes y en
                  colaboración con el terapeuta se establece un objetivo a
                  tratar. Se escuchan los distintos puntos de vista que
                  interfieren en la vida del cliente, se analiza y reflexiona a
                  partir del contexto las creencias y los pensamientos negativos
                  de la persona. De esta manera se obtiene entendimiento de la
                  situación y se construyen soluciones. La duración de la
                  terapia tiende a ser breve ( 6 meses aprox); y varía acorde a
                  los objetivos planteados y a la participación del cliente.
                </p>
              </div>
              <div class="col-12 col-md-6">
                <h4 class="font-weight-bold">
                  ¿Qué es una asesoría psicológica?
                </h4>
                <p align="justify">
                  Cuando tenemos un problema o inquietud emocional que afecta mi
                  vida diaria, lo mejor es acudir con un psicólogo especialista
                  para tener la mejor orientación posible y poder resolver dicho
                  problema. La diferencia entre terapia y asesoría es la
                  duración y el plan de trabajo puesto en acción. .
                </p>
                <div class="row icon-boxes">
                  <div
                    class=" mt-0 col-md-12 icon-box justify-content-center text-center"
                    data-aos="fade-up"
                    data-aos-delay="300"
                  >
                    <i class="bx bxs-receipt"></i>
                    <h4>¿Cómo me siento hoy? (TEST)</h4>
                    <a class="test-btn text-white" v-b-modal.modal-center
                      >Hacer Test
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row icon-boxes">
              <div
                class="col-md-6 icon-box"
                data-aos="fade-up"
                data-aos-delay="100"
              >
                <i class="icofont-users-alt-4"></i>
                <h4>Sesión Presencial</h4>
                <p>
                  Narvarte | San José Insurgentes
                </p>
              </div>
              <div
                class="col-md-6 icon-box"
                data-aos="fade-up"
                data-aos-delay="200"
              >
                <i class="bx bxl-skype"></i>
                <h4>Sesión en Línea</h4>
                <p>
                  Se puede hacer a través de SKYPE o GOOGLE MEET.
                </p>
              </div>
            </div>

            <a href="#contact" class="about-btn"
              >Contáctanos <i class="bx bx-chevron-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>

    <b-modal id="modal-center" centered hide-footer size="xl" title="Test">
      <div
        v-for="(val, key) in options"
        :key="key"
        class="border text-center justify-content-center"
      >
        <span>{{ key + 1 }}. {{ val.name }}</span>
        <b-form-group class="mb-4 ">
          <b-form-radio-group
            plain
            :id="val.id"
            v-model="val.sel"
            :options="valores"
            :name="val.name"
          ></b-form-radio-group>
        </b-form-group>
      </div>
      *En absoluto= 0. Levemente= 1. Moderadamente= 2. Severamente= 3
      <div class="row justify-content-center">
        <p class="test-btn" @click="showtest()">Resultados</p>
        <div class="col-11 text-center" v-if="showres" align="justify">
          <p v-if="sumtest > 0">
            Tienes {{ sumtest }} <span v-if="sumtest == 1">punto</span
            ><span v-else>puntos</span>.
            <span v-if="sumtest > 4 && sumtest < 22"
              >Es importante estar revisando tu nivel emocional
              constantemente.</span
            >
            <span v-if="sumtest > 21 && sumtest < 37"
              >Te recomendamos agendar una cita para que tu Ansiedad no se
              dispare.</span
            >
            <span v-if="sumtest > 36"
              >Te recomendamos agendar una cita de inmediato.</span
            >
            <span v-if="sumtest < 5"
              >Tienes una salud emocional estable, recuerda que siempre estamos
              para apoyarte.</span
            >
          </p>
          <p class="col-11" v-else align="justify">
            No tienes casillas marcadas, pero si quieres recibir algún tipo de
            terapía no dudes en contactarnos.
          </p>
          <ul v-if="sumtest > 0" style="list-style-type: none;">
            <li>05–21 - Ansiedad muy baja</li>
            <li>22–35 - Ansiedad moderada</li>
            <li>más de 36 - Ansiedad severa</li>
          </ul>
          <p v-if="sumtest > 0" class="date-btn" v-b-modal.modal-multi-2>
            Agendar una cita
          </p>
        </div>

        <b-modal id="modal-multi-2" title="Agenda una Cita" hide-footer ok-only>
          <div class="row justify-content-center">
            <div class="col-4 text-center ">
              <a
                class=" justify-content-center "
                href=" https://wa.me/5215554686557?text=Ingrese%20nombre%20y%20edad%20para%20agendar%20su%20consulta"
              >
                <i
                  class="icofont-whatsapp"
                  style="
         font-size:40px; 
          background: #25D366;
          color: white;
          width: 45px;
          "
                ></i>
              </a>
              <span class="d-flex justify-content-center ">Whatsapp</span>
            </div>
            <div class="col-4 text-center ">
              <a href="tel:555-468-6557" class=" justify-content-center">
                <i
                  class="icofont-phone-circle"
                  style="
          font-size:40px
           font-size:40px; 
          background: blue;
          color: white;
          width: 45px;
          height: 45px;
          left:30px;
          "
                >
                </i>
              </a>
              <span class="d-flex justify-content-center">Llamar</span>
            </div>
            <div class="col-4 text-center">
              <a
                class=" justify-content-center"
                href="mailto:terapiabea02@gmail.com"
              >
                <i
                  class="icofont-email"
                  style="
           font-size:40px; 
          background: #DD4C39;
          color: white;
          width: 45px;
          height: 45px;
          left:30px;
          "
                ></i>
              </a>
              <span class="d-flex justify-content-center ">Email</span>
            </div>
          </div>
        </b-modal>
      </div>
    </b-modal>
  </section>
</template>

<script>
export default {
  data() {
    return {
      showres: false,
      sumtest: 0,
      selected: [], // Must be an array reference!

      valores: [
        { text: "En absoluto", value: 0 },
        { text: "Levemente", value: 1 },
        { text: "Moderadamente", value: 2 },
        { text: "Severamente", value: 3 }
      ],
      options: [
        {
          id: "21",
          name: "Incapacidad de relajarse.",
          sel: 0
          // val:[
          //   {text: 'En absoluto', value: 0 },
          //   {text: 'Levemente', value: 1 },
          //   { text: 'Moderadamente', value: 2 },
          //   { text: 'Severamente', value: 3 }
          // ]
        },
        { id: "1", name: "Mareado.", sel: 0 },
        {
          id: "2",
          name: "Con latidos del corazón fuertes y acelerados.",
          sel: 0
        },
        { id: "3", name: "Asustado o Atemorizado.", sel: 0 },
        { id: "4", name: "Nervioso.", sel: 0 },
        { id: "5", name: "Inquieto, inseguro.", sel: 0 },
        { id: "6", name: "Con miedo a perder el control.", sel: 0 },
        { id: "7", name: "Con sensación de ahogo.", sel: 0 },
        { id: "8", name: "Con problemas digestivos.", sel: 0 },
        { id: "9", name: "Con sudores fríos o calientes. ", sel: 0 },
        { id: "10", name: "Sensación de bloqueo. ", sel: 0 },
        { id: "11", name: "Inestable.", sel: 0 },
        { id: "12", name: "Torpe o entumecido. ", sel: 0 },
        { id: "13", name: "Acalorado. ", sel: 0 },
        { id: "14", name: "Con temblor en las piernas. ", sel: 0 },
        { id: "15", name: "Temor a que ocurra lo peor. ", sel: 0 },
        { id: "16", name: "Temblores en las manos. ", sel: 0 },
        { id: "17", name: "Temor a morir. ", sel: 0 },
        { id: "18", name: "Con miedo.", sel: 0 },
        { id: "19", name: "Con desvanecimientos.", sel: 0 },
        { id: "20", name: "Con rubor facial. (Rojizo)", sel: 0 }
      ]
    };
  },
  methods: {
    showtest() {
      this.sumtest = 0;
      this.options.forEach(element => {
        this.sumtest += element.sel;
      });
      this.showres = !this.showres;
    }
  }
};
</script>

<style></style>
