<template>
  <section id="contact" class="contact ">
    <div class="container">
      <div class="section-title" data-aos="fade-in" data-aos-delay="100">
        <h2>Contacto</h2>
        <p align="justify">
          Si quieres empezar a tomar terapia, envíanos un mensaje y podemos
          agendar una cita con uno de nuestros terapeutas que mejor cubra tus
          necesidades,este podrá responder todas tus dudas y sí hay buena
          química podrás agendar una cita de inmediato a través de nuestro
          whatsapp.
        </p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-3">
          <div class="info-box mb-4">
            <i class="bx bx-map"></i>
            <h3>Sedes</h3>
            <p>Narvarte | San José Insurgentes</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="info-box  mb-4">
            <i class="bx bx-envelope"></i>
            <h3>Correo Electrónico</h3>
            <p>
              <a class="text-dark" href="mailto:terapiabea02@gmail.com"
                >terapiabea02@gmail.com</a
              >
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="info-box  mb-4">
            <i class="bx bxl-whatsapp"></i>
            <h3>Whatsapp</h3>
            <p>
              <a
                class="text-dark"
                href=" https://wa.me/5215554686557?text=Ingrese%20nombre%20y%20edad%20para%20agendar%20su%20consulta"
              >
                5554686557</a
              >
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="info-box  mb-4">
            <i class="bx bx-mobile"></i>
            <h3>Teléfono</h3>
            <p><a class="text-dark" href="tel:555-468-6557">5554686557</a></p>
          </div>
        </div>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 ">
          <iframe
            class="mb-4 mb-lg-0"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50638.78647643964!2d-99.19916045773006!3d19.379960711911593!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff9fbefafdf9%3A0x52271d1aef7a49f3!2sColonia%20del%20Valle%2C%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1ses-419!2smx!4v1589825637223!5m2!1ses-419!2smx"
            frameborder="0"
            style="border:0; width: 100%; height: 384px;"
            allowfullscreen
          ></iframe>
        </div>

        <div class="col-lg-6">
          <form
            action="forms/contact.php"
            method="post"
            role="form"
            class="php-email-form"
          >
            <div class="form-row">
              <h3 class="col-12 text-center">Reserva tu cita</h3>
              <div class="col-md-6 form-group">
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  id="name"
                  placeholder="Nombre"
                  data-rule="minlen:4"
                  data-msg="Please enter at least 4 chars"
                />
                <div class="validate"></div>
              </div>
              <div class="col-md-6 form-group">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  placeholder="Correo Electrónico"
                  data-rule="email"
                  data-msg="Please enter a valid email"
                />
                <div class="validate"></div>
              </div>
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                name="subject"
                id="subject"
                placeholder="Título"
                data-rule="minlen:4"
                data-msg="Please enter at least 8 chars of subject"
              />
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <textarea
                class="form-control"
                name="message"
                rows="5"
                data-rule="required"
                data-msg="Please write something for us"
                placeholder="Por favor escribenos un mensaje"
              ></textarea>
              <div class="validate"></div>
            </div>
            <div class="mb-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">
                Your message has been sent. Thank you!
              </div>
            </div>
            <div class="text-center">
              <button type="submit">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "Contact"
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss"></style>
