<template>
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="footer-info" data-aos="fade-up" data-aos-delay="50">
              <h3>Terapiabea</h3>
              <!-- <p class="pb-1">
                <em
                  >“He encontrado el significado de mi vida ayudando a los demás a encontrar en sus vidas un significado”.</em
                >
              </p>
              <p class="text-right pr-2 pb-2">
                <em
                  >-Victor Frankl.</em
                >
              </p> -->
              <p>
                Ubicación <br />
                Narvarte | San José Insurgentes<br /><br />
                <strong>Whatsapp:</strong>
                <a
                  class="text-dark"
                  href=" https://wa.me/5215554686557?text=Ingrese%20nombre%20y%20edad%20para%20agendar%20su%20consulta"
                >
                  5554686557 </a
                ><br />
                <strong>Teléfono:</strong>
                <a class="text-dark" href="tel:555-468-6557"> 5554686557</a
                ><br />
                <strong>Correo:</strong
                ><a class="text-dark" href="mailto:terapiabea02@gmail.com"
                  >terapiabea02@gmail.com</a
                ><br />
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"
                  ><i class="bx bxl-instagram"></i
                ></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>
          <div
            class="col-md-5 footer-links text-center pl-5 pr-5"
            data-aos="fade-up"
            data-aos-delay="150"
          >
            <p class="pb-1">
              <em
                >“He encontrado el significado de mi vida ayudando a los demás a
                encontrar en sus vidas un significado”.</em
              >
            </p>
            <p class="text-right pr-2 pb-2">
              <em>-Victor Frankl.</em>
            </p>
            <p class="pb-1">
              <em
                ><p class="pb-1">
                  <em
                    >“ “LA MEJOR SABIDURÍA QUE EXISTE ES CONOCERSE A SÍ
                    MISMO”.</em
                  >
                </p>
                <p class="text-right pr-2 pb-2">
                  <em>-GALILEO GALILEI.</em>
                </p>
                .</em
              >
            </p>
          </div>
          <div
            class="col-md-3 footer-links "
            data-aos="fade-up"
            data-aos-delay="150"
          >
            <div class="row justify-content-center">
              <h4 class="col-12 text-center">Menu Principal</h4>
              <br />
              <ul class="row ">
                <li class="col-4 ">
                  <i class="bx bx-chevron-right"></i> <a href="#">Inicio</a>
                </li>
                <li class="col-4 ">
                  <i class="bx bx-chevron-right"></i>
                  <a href="#about">Terapia</a>
                </li>
                <li class="col-4 ">
                  <i class="bx bx-chevron-right"></i>
                  <a href="#services">Servicios</a>
                </li>
                <li class="col-4 ">
                  <i class="bx bx-chevron-right"></i>
                  <a href="#team">Nosotros</a>
                </li>
                <li class="col-4 ">
                  <i class="bx bx-chevron-right"></i>
                  <a href="#contact">Contacto</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {};
</script>

<style></style>
