<template>
  <section
    id="header"
    class=" fixed-top"
    :class="[scrollPos > 300 ? 'backBlue' : '']"
  >
    <div class="container d-flex">
      <div class="logo mr-auto ">
        <h1 class="text-light">
          <a href="#"><span>TERAPIABEA</span></a>
        </h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="../assets/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav v-if="window.width > 990" class="nav-menu d-none d-lg-block">
        <ul>
          <li :class="[scrollPos < 300 ? 'backNav active' : '']">
            <a href="#">Inicio</a>
          </li>
          <li :class="[scrollPos < 300 ? 'backNav' : '']">
            <a href="#about">Terapia</a>
          </li>
          <li :class="[scrollPos < 300 ? 'backNav' : '']">
            <a href="#services">Servicios</a>
          </li>
          <li :class="[scrollPos < 300 ? 'backNav' : '']">
            <a href="#team">Nosotros</a>
          </li>
          <li :class="[scrollPos < 300 ? 'backNav' : '']">
            <a href="#contact">Contacto</a>
          </li>
          <!-- <li :class="[scrollPos < 300 ? 'backNav' : '']" class="drop-down">
            <a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down">
                <a href="#">Drop Down 2</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul>
          </li>
          <li :class="[scrollPos < 300 ? 'backNav' : '']">
            <a href="#contact">Contact Us</a>
          </li> -->
        </ul>
      </nav>
      <div v-else class="">
        <!--style="margin: -30px 0px 0px 10px"-->
        <Slide class="col-6 text-white" right :closeOnNavigation="true">
          <a href="#" class="text-white font-weight-bold" to="/">Inicio</a>
          <a href="#about" class="text-white font-weight-bold" to="/aboutt"
            >Terapia</a
          >
          <a href="#services" class="text-white font-weight-bold" to="/price"
            >Servicios</a
          >
          <a href="#team" class="text-white font-weight-bold" to="/contact"
            >Nosotros</a
          >
          <a href="#contact" class="text-white font-weight-bold" to="/contact"
            >Contacto</a
          >
        </Slide>
      </div>
      <!-- .nav-menu -->
    </div>
    <a
      v-if="window.width > 990"
      href=" https://wa.me/5215554686557?text=Ingrese%20nombre%20y%20edad%20para%20agendar%20su%20consulta"
      class="whats-btn"
      ><i class="icofont-whatsapp"></i
    ></a>
    <a v-if="window.width > 990" href="tel:555-468-6557" class="mobile-btn"
      ><i class="icofont-phone-circle"></i
    ></a>
    <a
      v-if="window.width > 990"
      class="email-btn"
      href="mailto:terapiabea02@gmail.com"
      ><i class="icofont-email"></i
    ></a>
    <div v-else class="fixed-bottom row ml-0">
      <a
        href=" https://wa.me/5215554686557?text=Ingrese%20nombre%20y%20edad%20para%20agendar%20su%20consulta"
        class=" col-2 whats-btn1 "
        ><i class="icofont-whatsapp" style="font-size:40px"></i
      ></a>
      <a href="tel:555-468-6557" class="mobile-btn1 col-2"
        ><i style="font-size:40px" class="icofont-phone-circle"></i
      ></a>
      <a class="email-btn1 col-2" href="mailto:terapiabea02@gmail.com"
        ><i style="font-size:40px" class="icofont-email"></i
      ></a>
    </div>
  </section>
</template>

<script>
import { Slide } from "vue-burger-menu";

export default {
  name: "Header",

  data() {
    return {
      window: {
        width: 0
      },
      // limitPosition: 500,
      scrollPos: 0
      // lastPosition: 0
    };
  },

  components: {
    Slide
  },

  created() {
    window.addEventListener("resize", this.handleResize);
    this.handleResize();
    window.addEventListener("scroll", this.handleScroll);
  },
  destroyed() {
    window.removeEventListener("resize", this.handleResize);
    window.removeEventListener("scroll", this.handleScroll);
  },
  methods: {
    handleResize() {
      this.window.width = window.innerWidth;
    },
    handleScroll() {
      this.scrollPos = window.scrollY;
    }
  }
};
</script>
<style scoped lang="scss"></style>
