<template>
  <section id="portfolio" class="portfolio">
    <div class="container">
      <div class="section-title" data-aos="fade-in" data-aos-delay="100">
        <h2>Portfolio</h2>
        <p>
          Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
          aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos
          quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
          fugiat sit in iste officiis commodi quidem hic quas.
        </p>
      </div>
      <div class="row" data-aos="fade-in">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <!-- <li v-for="(val, key) in option.getFilterData" :key="key"   @click="filter(key)">{{key}} -->
            <li
              v-for="(val, key) in option.getFilterData"
              :key="key"
              @click="updateFilter(key)"
            >
              {{ key }}
            </li>
            <!--filter(key);-->
          </ul>
        </div>
      </div>
      <transition-group name="thumbnailfade" tag="div" class="row">
        <div
          v-for="thumb in filteredImages"
          :key="thumb.name"
          :src="thumb.name"
          :alt="thumb.alt"
          :title="thumb.alt"
          class="col-md-4 col-6 mb-3"
        >
          <div class="portfolio-wrap">
            <img :src="thumb.name" class="img-fluid" alt="" />
            <div class="portfolio-links">
              <a @click="showLightbox(thumb.name)" title="App 1"
                ><i class="bx bx-plus"></i
              ></a>
              <a href="#" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </transition-group>
      <lightbox
        id="mylightbox"
        class="light"
        ref="lightbox"
        :images="images"
        :filter="galleryFilter"
        :timeoutDuration="5000"
      />
    </div>
  </section>
</template>

<script>
export default {
  name: "Portfolio",
  components: {},
  data() {
    return {
      galleryFilter: "all",
      option: {
        getFilterData: {
          all: function() {
            return true;
          },
          app: function(el) {
            return el.alt === "app";
          },
          web: function(el) {
            return el.alt === "web";
          },
          card: function(el) {
            return el.alt === "card";
          }
        },
        getSortData: {
          name: "name",
          alt: "category"
        }
      },
      filterOption: "all",

      images: [
        {
          name1: "ps",
          alt: "app",
          filter: "app",
          name: require("../assets/portfolio/portfolio-1.jpg")
        },
        {
          name1: "cup",
          alt: "web",
          filter: "web",
          name: require("../assets/portfolio/portfolio-2.jpg")
        },
        {
          name1: "camara",
          alt: "app",
          filter: "app",
          name: require("../assets/portfolio/portfolio-3.jpg")
        },
        {
          name1: "plant",
          alt: "card",
          filter: "card",
          name: require("../assets/portfolio/portfolio-4.jpg")
        },
        {
          name1: "perfume",
          alt: "web",
          filter: "web",
          name: require("../assets/portfolio/portfolio-5.jpg")
        },
        {
          name1: "shampoo",
          alt: "app",
          filter: "app",
          name: require("../assets/portfolio/portfolio-6.jpg")
        },
        {
          name1: "soda",
          alt: "card",
          filter: "card",
          name: require("../assets/portfolio/portfolio-7.jpg")
        },
        {
          name1: "chair",
          alt: "card",
          filter: "card",
          name: require("../assets/portfolio/portfolio-8.jpg")
        },
        {
          name1: "food",
          alt: "web",
          filter: "web",
          name: require("../assets/portfolio/portfolio-9.jpg")
        }
      ]
    };
  },

  mounted() {
    /* default settings */
    // $(".venobox").venobox();
  },
  computed: {
    filteredImages: function() {
      if (this.galleryFilter === "all") {
        return this.images;
      } else {
        return this.images.filter(image => image.alt === this.galleryFilter);
      }
    }
  },
  methods: {
    showLightbox: function(imageName) {
      console.log(imageName);
      this.$refs.lightbox.show(imageName);
    },
    updateFilter(filterName) {
      this.galleryFilter = filterName;
      console.log(filterName, this.galleryFilter);
    }
  }
};
</script>

<style></style>
