<template>
  <section id="services" class="services">
    <div class="container">
      <div class="section-title" data-aos="fade-in" data-aos-delay="100">
        <h2>Servicios</h2>
        <!-- <p align="justify">
          Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
          aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos
          quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
          fugiat sit in iste officiis commodi quidem hic quas.
        </p> -->
      </div>

      <div class="row">
        <div class="col-md-6 col-12 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up">
            <div class="icon"><i class="icofont-user-alt-1"></i></div>
            <h4 class="title"><a href="">Terapia Congnitivo-Conductual </a></h4>
            <p class="description" align="justify">
              Es una orientación terapéutica qué cuenta con una eficacia que
              está científicamente comprobada en diferentes tipos de
              intervención. Se trabaja a base de objetivos, reforzando las
              sesiones con tareas de tipo emocional. Cabe mencionar que la
              terapia Cognitivo - Conductual responde a la necesidad subjetiva y
              objetiva de la persona, es decir, que esta aplicación terapéutica,
              actúa sobre los actos de la persona y de los pensamientos a través
              de un modelo llamado A-B-C (¿qué hago?, ¿qué pienso? y ¿qué
              siento?.).
              <br /><br />
              La Terapia Cognitivo - Conductual es una herramienta eficaz para
              ayudar a cualquier persona a aprender cómo manejar mejor las
              situaciones estresantes de la vida. Por ejemplo: Por ejemplo:
              Controlar los síntomas de alguna enfermedad mental, aprender
              técnicas para lidiar con situaciones estresantes de la vida
              cotidianas, identificar formas de controlar las emociones y
              afrontar el dolor o las perdidas.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-12 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="icofont-people"></i></div>
            <h4 class="title">
              <a href="">Terapia Sistémica, individual y familiar</a>
            </h4>
            <p class="description" align="justify">
              La Terapia Sistémica individual es una modalidad terapéutica donde
              se reconoce al individuo dentro de varios entornos (sistemas). No
              se buscan patologías y se entiende que los diferentes entornos de
              una persona impactan en su vida llevándolo en ocasiones a
              situaciones de conflicto consigo mismo y con los otros. Esta
              modalidad de terapia explora el contexto en el cual interactúa la
              persona para entender su situación y buscar nuevas formas de
              relacionarse. .
              <br /><br />
              En la modalidad familiar, además de lo anterior, se busca un
              acercamiento entre los miembros de una familia y solución de los
              problemas que viven a través de su interacción.

              <br /><br />
              En terapia familiar, se busca la asistencia de varios miembros de
              la familia pues enriquece el proceso el poder escuchar los puntos
              de vista de todos, en un espacio seguro y respetuoso donde se
              puede construir en conjunto la solución.
              <br /><br />
              No obstante, se puede trabajar con UN solo miembro de la familia
              para generar cambios en todo el entorno familiar.
            </p>
          </div>
        </div>

        <!-- <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4 class="title"><a href="">Magni Dolores</a></h4>
            <p class="description">
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4 class="title"><a href="">Nemo Enim</a></h4>
            <p class="description">
              At vero eos et accusamus et iusto odio dignissimos ducimus qui
              blanditiis
            </p>
          </div>
        </div> -->
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style></style>
