<template>
  <section id="team" class="team">
    <div class="container">
      <div class="section-title mt-3">
        <h2>Nosotros</h2>
        <p align="justify">
          En Terapia Bea, la búsqueda de tu bienestar es nuestro trabajo.
          ¡Encuentra una vía de trabajo que se enfoque en tu estilo de vida!
          Nuestros especialistas trabajan las sesiones de una forma seria y
          eficaz, pues consideran tus creencias y formas de relacionarte; así
          como también, toman en cuenta tus significados y los distintos
          contextos en donde te desenvuelves. <br /><br />
          Todo lo anterior se realiza con el acompañamiento respetuoso y ético
          del terapeuta; colaborando de forma proactiva en la búsqueda de tu
          estabilidad emocional, y apoyándonos de tus recursos personales como
          herramienta básica para la solución de tus problemas.
        </p>
      </div>

      <div class="row justify-content-around">
        <div class="col-12 col-md-5" @click="team1 = !team1">
          <div class="member" data-aos="fade-up">
            <!-- <div class="pic">
              <img src="../assets/team/team-1.jpg" class="img-fluid" alt="" />
            </div> -->
            <div class="member-info row">
              <h4 class="col-10">
                Maestra: Carmen Beatriz Bautista del Ángel.
              </h4>
              <i
                v-if="team1 == false"
                class="bx bxs-plus-square col-2"
                style=" font-size: 40px;"
              ></i>
              <i
                v-else
                class="bx bxs-minus-square col-2"
                style="font-size: 40px;"
              ></i>
              <div class="social">
                <p v-if="team1 == true" class="pl-4 pr-4" align="justify">
                  Formación en Psicología, por la Universidad Nacional Autónoma
                  de México; Maestría en Terapia Familiar Sistémica, por la
                  misma Universidad, en el Programa Nacional de Posgrados de
                  Calidad. Realizó un diplomado en Tanatología en el Instituto
                  Mexicano de Tanatología. Cuenta con una especialidad en
                  Psicoterapia Breve y otra en Hipnosis, por el Instituto de
                  Neurociencias y Neuroestrategias Organizacionales S.C. Ha
                  realizado investigaciones y trabajo terapéutico en temas de
                  pareja, familia y resiliencia. Cuenta con diez años de
                  experiencia brindando atención terapéutica y orientación para
                  adolescentes, adultos y familias en temas como elección de
                  carrera, plan de vida, bullying, estrés, ansiedad, depresión,
                  separaciones, relaciones tóxicas, duelos, problemas familiares
                  y de conducta, entre otros.
                </p>
                <!-- <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-5" @click="team2 = !team2">
          <div class="member" data-aos="fade-up">
            <div class="member-info row">
              <h4 class="col-10">Maestro: Arturo Ruiz Arroyo.</h4>
              <i
                v-if="team2 == false"
                class="bx bxs-plus-square col-2"
                style=" font-size: 40px;"
              ></i>
              <i
                v-else
                class="bx bxs-minus-square col-2"
                style="font-size: 40px;"
              ></i>
              <div class="social">
                <p v-if="team2 == true" class="pl-4 pr-4" align="justify">
                  Formación en Psicología, por la Universidad La Salle. Maestría
                  en Psicoterapia Cognitivo - Conductual por el Instituto de
                  Psicoterapia Cognitivo-Conductual. Cuenta con 8 años
                  trabajando con adolescentes y adultos; tratando básicamente
                  temas de emociones, ansiedad y depresión.
                  <br />
                  Cursó un diplomado en Tanatología; “Cuidado en pacientes
                  paliativos y ambulatorios”; por parte del Hospital General de
                  México. Tiene un diplomado por parte de la Sociedad Mexicana
                  de Psicología en: “Intervención y Tratamiento desde el enfoque
                  Cognitivo-Conductual”. Tuvo la oportunidad de hacer el
                  servicio social en Centro América (Haití) 2 años después del
                  Terremoto del 2010; ayudando a las familias a crear mejores
                  posibilidades para mejorar su estilo de vida. Finalmente,
                  continúa trabajando (5 años) en la Comunidad Judía, ayudando a
                  niños y adolescentes de primaria y secundaria, a brindarles
                  las herramientas necesarias para poder aprender de una forma
                  significativa.
                </p>
                <!-- <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a> -->
              </div>
            </div>
          </div>
        </div>
        <!-- <div class=" col-md-4">
          <div class="member" data-aos="fade-up" data-aos-delay="150">
            <div class="pic">
              <img src="../assets/team/team-2.jpg" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>Arturo Ruiz</h4>
              <span>Maestría en Psicoterapia Cognitivo - Conductual </span>
              <div class="social">
                <p>Formación en  Psicología, por la Universidad La Salle. 
                  Maestría en Psicoterapia Cognitivo - Conductual por el Instituto de 
                  Psicoterapia Cognitivo-Conductual. Cuenta con 8 años trabajando  
                  con adolescentes y adultos;  tratando básicamente temas de emociones, 
                  ansiedad y depresión. Cursó un diplomado en Tanatología; “Cuidado en 
                  pacientes paliativos y ambulatorios”; por parte del Hospital General 
                  de México. Tiene un diplomado por parte de la Sociedad Mexicana de 
                  Psicología en: “Intervención y Tratamiento desde el enfoque 
                  Cognitivo-Conductual”. Tuvo la oportunidad de hacer el  servicio social
                   en Centro América (Haití) 2 años después del Terremoto del 2010; ayudando a 
                   las familias a crear mejores posibilidades para mejorar su estilo de vida. 
                   Finalmente, continúa trabajando (5 años) en la Comunidad Judía, ayudando a 
                   niños y adolescentes de primaria y secundaria, a brindarles las herramientas 
                   necesarias para poder aprender de una forma significativa. 
</p>
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div> -->

        <!-- <div class="col-lg-4 col-md-6">
          <div class="member" data-aos="fade-up" data-aos-delay="300">
            <div class="pic">
              <img src="../assets/team/team-3.jpg" class="img-fluid" alt="" />
            </div>
            <div class="member-info">
              <h4>William Anderson</h4>
              <span>CTO</span>
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      team1: false,
      team2: false
    };
  }
};
</script>

<style></style>
