<template>
  <section id="testimonials" class="testimonials section-bg">
    <div class="container">
      <div class="section-title" data-aos="fade-in" data-aos-delay="100">
        <h2>Testimonios</h2>
        <p align="justify">
          Ten presente que ir a terapia psicológica no es para “enfermos”, es
          para aquellos que simplemente desean ser mejor persona en los
          diferentes aspectos de su vida”.
        </p>
      </div>

      <carousel
        :autoplay="false"
        :nav="false"
        :responsive="{ 0: { items: 1 }, 600: { items: 3 } }"
      >
        <div
          v-for="(item, index) in testimonial"
          :key="item + index"
          class="testimonial-item"
          data-aos="fade-up"
          data-aos-delay="400"
        >
          <p align="justify" style="height:400px">
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            {{ item.text }}
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <!-- <img :src="item.image" class="testimonial-img" alt="" /> -->
          <h3>{{ item.title }}</h3>
          <h4>{{ item.subTitle }}</h4>
        </div>
      </carousel>
      <!-- <div
        v-else
        v-for="(item, index) in testimonial"
        :key="item + index"
        class="testimonial-item"
        data-aos="fade-up"
        data-aos-delay="400"
      >
        <p>
          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
          {{ item.text }}
          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
        </p>
        <img :src="item.image" class="testimonial-img" alt="" />
        <h3>{{ item.title }}</h3>
        <h4>{{ item.subTitle }}</h4>
      </div> -->
    </div>
  </section>
</template>

<script>
import carousel from "vue-owl-carousel";
// import { store } from "../store/index";
import { mapState } from "vuex";

export default {
  name: "Testimonials",
  data() {
    return {
      window: {
        width: 0
      }
    };
  },
  components: {
    carousel
  },
  computed: {
    ...mapState(["testimonial"])
  },
  created() {
    window.addEventListener("resize", this.handleResize);
    this.handleResize();
  },
  destroyed() {
    window.removeEventListener("resize", this.handleResize);
  },
  methods: {
    handleResize() {
      this.window.width = window.innerWidth;
    }
  }
};
</script>

<style></style>
